[Unit]
Description=Face Recognition Websocket
After=network-online.target

[Service]
ExecStart=/usr/local/lib/fcrecog/facews.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
