[Unit]
Description=M.L. Face Recognition
After=network-online.target

[Service]
ExecStart=/usr/local/bin/mlface.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
